.o_menu_icon.custom_new_module_form {
    background-image: url('/Odoosh/custom_module_Viaje/static/description/icon.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
}